body{
    margin: 5vw;
    background-image: url(../img/bg.jpg);
}

.title{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #fff;
    font-size:50px;
    line-height: 5px;
    margin: -79vh;
    -webkit-margin-before: 2.67em;
    margin-block-start: 2em;
    -webkit-margin-after: -0.33em;
    margin-block-end: 0.2em;
}

.templated{
    color: rgba(255, 255, 255, 0.592);
    margin-bottom: 4vh;
}

// Section1

.containerSection1{
    display: flex;
    width: 90vw;
    flex-direction: column;
}

.imageSection1{
    width: 90vw;
}

.imageSection1Div{
    display: flex;
    width: 90vw;
    height: 67vh;
}

.separatorSection1{
    display: flex;
    border: solid 1px rgb(174, 174, 174);
    width: 10vw;
}

.divSection1Text1{
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.h3Section1{
    display: flex;
    font-size: 35px;
    height: 3vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.pSection1{
    flex-wrap: wrap;
    font-size: 15px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: rgb(148, 148, 148);
}

.divSection1Text2{
    display: flex;
    background-color: #a9a698;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.paraSection1{
    font-size:20px;
    width: 80vw;

}

// Section1

// Section2

.containerSection2Bis{
    display: flex;
    width: 90vw;
    flex-direction: column;
}

.containerSection2{
    padding: 5vw;
    background-color: #272727;
}

.divSection2Text1{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.h3Section2{
    display: flex;
    font-size: 35px;
    height: 3vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.separatorSection2{
    display: flex;
    border: solid 1px rgb(174, 174, 174);
    width: 10vw;
}

.pSection2{
    flex-wrap: wrap;
    font-size: 15px;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.image4Section2Div{
    display: flex;
    flex-wrap: wrap;
}

.imageSection2Div{
    display: flex;
    width: 40vw;
    height: 35vh;
    justify-content: flex-end;
    // height: fit-content;
}

.imageSection2{
    display: flex;
    width: 40vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
}


// Section3

// Image Left Start

.textImgSmall{
    display: flex;
    width: 90vw;
    height: 48vh;
    align-items: center;
    justify-content: flex-start;
    border: solid 5px white;
    background-color: #ffffff;
}

.imageBorderDiv{
    display: flex;
    width: 45vw;
    height: 50vh;
    justify-content: center;

}

.imageBorder{
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 69vw;
    height: 50vh;

}

.h3Section3{
    font-size: 25px;
    height: 5vh;
}

.textSection3{
    width: 28vw;
    margin: 6vw;
    height: 30vh;

}

.paraSection3{
    display: block;

}
// Image Left End


// Image Right Start

.textImgSmallRight{
    display: flex;
    background-color: #272727;
    width: 90vw;
    height: 49vh;
    align-items: center;
    justify-content: flex-end;

}

.imageBorderDivRight{
    display: flex;
    width: 44vw;
    height: 50vh;
    justify-content: center;

}

.imageBorderRight{
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 65vw;
    height: 50vh;

}

.h3Section3Right{
    font-size: 25px;
    height: 5vh;
    color: #ffffff;
}

.textSection3Right{
    display: flex;
    width: 28vw;
    margin: 6vw;
    height: 30vh;
    color: #707070;
    flex-wrap: wrap;
    // justify-content: flex-end;
}

.paraSection3Right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
// Image Right End


// Footer
.footerDiv{
    display: flex;
    width: 90vw;
    height: 25vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footerSocialMedia{
    display: flex;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 10px;
}

.footer-text{
    display: flex;
    color: white;
}




@media screen and (max-width: 390px) {

    .containerSection1{
    display: flex;
    width: 90vw;
    flex-direction: column;
    }

    .imageSection1Div{
    display: flex;
    width: 90vw;
    height: 25vh;
    }

    .imageSection1{
    width: 90vw;
    height: 30vh;
    }

    .title{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .containerSection2Bis{
    display: flex;
    width: 90vw;
    flex-direction: column;
    }
    
    .containerSection2{
    padding: 5vw;
    background-color: #272727;
    }

    .divSection2Text1{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

    .h3Section2{
    display: flex;
    font-size: 35px;
    height: 8vh;
    width: 55vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    }

    .separatorSection2{
    display: flex;
    border: solid 1px rgb(174, 174, 174);
    width: 10vw;
    }

    .pSection2{
    flex-wrap: wrap;
    font-size: 15px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    }

    .image4Section2Div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    }

    .imageSection2Div{
    display: flex;
    width: 80vw;
    height: 30vh;
    justify-content: flex-end;
    // height: fit-content;
    }

    .imageSection2{
    display: flex;
    width: 80vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    }


// Image Left Start

    .textImgSmall{
    display: flex;
    width: 88vw;
    height: 90vh;
    align-items: center;
    justify-content: flex-start;
    border: solid 5px #fff;
    background-color: #fff;
    flex-direction: column;
    }

    .imageBorderDiv{
    display: flex;
    width: 80vw;
    height: 48vh;
    justify-content: center;
    }

    .imageBorder{
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 80vw;
    height: 50vh;
    }

    .h3Section3{
    font-size: 25px;
    height: 5vh;
    }

    .textSection3{
    width: 75vw;
    margin: 6vw;
    height: 30vh;
    }

    .paraSection3{
    display: block;
    }
// Image Left End

// Image Right Start

    .textImgSmallRight{
    display: flex;
    background-color: #272727;
    width: 91vw;
    height: 90vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    }

    .imageBorderDivRight{
    display: flex;
    width: 45vw;
    height: 50vh;
    justify-content: center;
    }

    .imageBorderRight{
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 80vw;
    height: 50vh;
    }

    .h3Section3Right{
    font-size: 25px;
    height: 5vh;
    color: #ffffff;
    }

    .textSection3Right{
    display: flex;
    width: 75vw;
    margin: 6vw;
    height: 35vh;
    color: #707070;
    flex-wrap: wrap;
    }

    .paraSection3Right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    }

// Image Right End


// Footer
.footerDiv{
    display: flex;
    width: 89vw;
    height: 20vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    // border: solid 3px white;
}

.footerSocialMedia{
    display: flex;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 10px;
}

.footer-text{
    display: flex;
    width: 80vw;
    color: white;
}

}


