body{
    margin: 5vw;
    background-image: url(../img/bg.jpg);
}

.title{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #fff;
    font-size:50px;
    line-height: 5px;
    margin: -79vh;
    -webkit-margin-before: 2.67em;
    margin-block-start: 2em;
    -webkit-margin-after: -0.33em;
    margin-block-end: 0.2em;
}

.templated{
    color: rgba(255, 255, 255, 0.592);
    margin-bottom: 4vh;
}

// Section1

.containerSection1{
    display: flex;
    width: 90vw;
    flex-direction: column;
}

.imageSection1{
    width: 90vw;
    // height: fit-content;
}

.imageSection1Div{
    display: flex;
    width: 90vw;
    height: 67vh;
    // height: fit-content;
}

.separatorSection1{
    display: flex;
    border: solid 1px rgb(174, 174, 174);
    width: 10vw;
}

.divSection1Text1{
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.h3Section1{
    display: flex;
    font-size: 35px;
    height: 3vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.pSection1{
    flex-wrap: wrap;
    font-size: 15px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: rgb(148, 148, 148);
}

.divSection1Text2{
    display: flex;
    background-color: #a9a698;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.paraSection1{
    font-size:20px;
    width: 80vw;

}

// Section1

// Section2

.containerSection2Bis{
    padding: 5vw;
    background-color: #4b4b4b;
}

.containerSection2{
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.divSection2Text1{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.h3Section2{
    display: flex;
    font-size: 35px;
    height: 3vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.separatorSection2{
    display: flex;
    border: solid 1px rgb(174, 174, 174);
    width: 10vw;
}

.pSection2{
    flex-wrap: wrap;
    font-size: 15px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: rgb(148, 148, 148);
}

.image4Section2Div{
    display: flex;
    flex-wrap: wrap;
}

.imageSection2Div{
    display: flex;
    width: 40vw;
    height: 35vh;
    justify-content: flex-end;
    // height: fit-content;
}

.imageSection2{
    display: flex;
    width: 40vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
}




// Section3

.textImgSmall{
    display: flex;
    width: 92vw;
    height: 58vh;
    align-items: center;
    justify-content: center;
    border: solid 5px white;
}

.imageBorderDiv{
    width: 40vw;
    height: 66vh;
    display: flex;
    justify-content: center;
    border: solid 5px white;
}

.imageBorder{
    margin-top: 8vh;
    margin-bottom: 87vh;
    width: 29vw;
    height: 47vh;
    border: solid 5px white;
}

h3{
    font-size: 30px;
}

.textSection2{
    width: 28vw;
    margin: 2vw;
    height: 30vh;
    border-color: #4b4b4b;
    border: solid 5px white;
}

.paraSection2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3{
    height: 10vh;
}






@media screen and (max-width: 390px) {
    .textImgSmall{
        display: flex;
        width: 100vw;
        height: 65vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imageBorderRadius {
        margin-top: 3vh;
        margin-bottom: 12vh;
        width: 75vw;
        height: 30vh;
        border-radius: 50%;
    }
    .textSection2{
        width: 100vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .paraSection2{
        display: flex;
        justify-content: center;
        width: 70vw;
    }
    h3{
        height: 3vh;
    }
}





// Footer

.footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 10px;
    text-align: center;
}