body {
  margin: 5vw;
  background-image: url(../img/bg.jpg);
  background-position: center;
}

.title {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 50px;
  line-height: 5px;
  margin: -79vh;
  -webkit-margin-before: 2.67em;
  margin-block-start: 2em;
  -webkit-margin-after: -0.33em;
  margin-block-end: 0.2em;
}

.templated {
  color: rgba(255, 255, 255, 0.592);
  margin-bottom: 4vh;
}

.containerSection1 {
  display: flex;
  width: 90vw;
  height: 50vh;
  flex-direction: column;
}

.imageSection1Div {
  display: flex;
  width: 90vw;
  height: 45vh;
}

.imageSection1 {
  width: 90vw;
}

.divSection1Text1 {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.h3Section1 {
  display: flex;
  font-size: 20px;
  height: 15vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pSection1 {
  flex-wrap: wrap;
  font-size: 20px;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.divSection1Text2 {
  display: flex;
  background-color: rgb(169, 166, 152);
}

.paraSection1 {
  font-size: 20px;
}

.paraSection1 {
  font-size: 20px;
}